<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Thêm tin tức</title>
</head>
<body>
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-lg-12">
      <form class="row" [formGroup]="articleDTO" (ngSubmit)="submit(articleDTO)">
        <div class="form-group" style="margin-top: 5px">
          <label for="title">Tiêu đề: </label><span *ngIf="flag==false">*</span>
          <span *ngIf="articleDTO.controls.title.hasError('required')&&flag==true">(Vui lòng nhập tiêu đề)</span>
          <span *ngIf="articleDTO.controls.title.hasError('minlength')&&articleDTO.controls.title.touched">(Tiêu đề chứa ít nhất 5 kí tự)</span>
          <span *ngIf="articleDTO.controls.title.hasError('maxlength')&&articleDTO.controls.title.touched">(Tiêu đề chứa tối đa 100 kí tự)</span>
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Nhập tiêu đề">
        </div>
        <div class="form-group " style="margin-top: 5px">
          <label for="content">Nội dung:</label><span *ngIf="flag==false">*</span>
          <span *ngIf="articleDTO.controls.content.hasError('required')&&flag==true">(Vui lòng nhập nội dung)</span>
          <span *ngIf="articleDTO.controls.content.hasError('minlength')&&articleDTO.controls.content.touched">(Nội dung phải có tối thiểu 50 kí tự)</span>
          <span *ngIf="articleDTO.controls.content.hasError('maxlength')&&articleDTO.controls.content.touched">(Nội dung chỉ được phép tối đa 50000 kí tự)</span>
          <textarea rows="5" class="form-control" id="content" formControlName="content" placeholder="Nhập nội dung"></textarea>
        </div>
        <div class="form-group">
          <label for="image" >Hình ảnh:</label><span *ngIf="flag==false">*</span>
          <span *ngIf="maxSize==true">(Ảnh phải bé hơn 1MB)</span>
          <span *ngIf="articleDTO.controls.img.hasError('required')&&flag==true||articleDTO.value.img==null&&maxSize==false" >(Vui lòng chọn ảnh)</span>
          <input type="file" class="form-control" id="image"  accept=".jpg,.jpeg,.png"  formControlName="img" (change)="selectImage($event)">
          <img  id="img-preview" *ngIf="imgLink" src="{{imgLink}}">
        </div>
        <div class=" form-group">
          <input class="form-check-input" type="checkbox" value=true id="hotNews" formControlName="isFeature" />
          <label class="form-check-label" for="hotNews">Tin nổi bật </label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary mx-2">Thêm</button>
          <button type="reset" (click)="back()" class="btn btn-secondary">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>




