<div class="container-fluid" >
  <!--  <h1 style="text-align: center; padding: 16px 0">DANH SÁCH KHÁCH HÀNG</h1>-->
  <div class="top">
    <div class="memu-search">
      <div class="searchBox">
        <form (ngSubmit)="searchContract(customerName.value, productName.value, beforeDate.value, afterDate.value, status.value,0)">
          <i class="uil uil-search navToggle"></i>
          <input [defaultValue]="" type="text" #customerName placeholder="Nhập tên khách hàng"/>
          <div class="form-search" [ngClass]="{ active: isSearchFormActive }">
            <div class="row">
              <label for="productName" class="col-md-3 col-form-label" style="margin-right: 10px;">Tên đồ</label>
              <div class="col-md-6 select-form">
                <input style="border: 1px solid #000000" [defaultValue]="" #productName class="search-input" id="productName">
              </div>
            </div>
            <div class="row">
              <label for="beforeDate" class="col-md-3 col-form-label" style="margin-right: 10px;">Giao dịch từ ngày</label>
              <div class="col-md-6 select-form">
                <input style="border: 1px solid #000000" [defaultValue]="" #beforeDate class="search-input" type="date" id="beforeDate">
              </div>
            </div>
            <div class="row">
              <label for="afterDate" class="col-md-3 col-form-label" style="margin-right: 10px;">Đến ngày</label>
              <div class="col-md-6 select-form">
                <input style="border: 1px solid #000000" [defaultValue]="" #afterDate class="search-input" type="date" id="afterDate">
              </div>
            </div>
            <div class="row">
              <label for="status" class="col-md-3 col-form-label" style="margin-right: 10px;">Trạng thái</label>
              <div class="col-md-6 select-form">
                <select #status style="border: 1px solid #000000" class="form-select" id="status">
                  <option selected value="" style="margin-left: 30px;width: 100px;">Mở để chọn loại</option>
                  <option style="margin-left: 30px;width: 100px;" *ngFor="let status of statuses"
                          value="{{status.name}}">{{status.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-submit">
              <button type="reset" class="btn-reset">Đặt lại</button>
              <button type="submit" class="btn-submit">Tìm </button>
            </div>
          </div>
        </form>
        <button class="button-search" (click)="toggleFormSearch($event)">
          <svg width="24" height="24" focusable="false">
            <path
              d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="top-child">
      <button
        routerLink="create"
        style="background-color: #ee4d2d; color: #edf2fc"
        class="btn color btn-lg pull-right"
        type="button"
        data-toggle="modal"
        data-target="#modalAdd"
      >
        <i class="uil uil-plus"></i>
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <colgroup>
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
        <col style="width: 15%" />
      </colgroup>
      <thead>
      <tr id="color-bg">
        <th>STT</th>
        <th>Mã hợp đồng</th>
        <th>Tên đồ</th>
        <th>Tên khách hàng</th>
        <th>Ngày làm hợp đồng</th>
        <th>Trạng thái</th>
        <th class="text-center">Chức năng</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contract of contracts ; index as i">
        <td>{{i+1}}</td>
        <td>{{contract?.contractCode}}</td>
        <td>{{contract?.product.name}}</td>
        <td>{{contract?.customer.name}}</td>
        <td>{{contract?.beginDate | date:"dd-MM-yyyy"}}</td>
        <td>{{contract?.status?.name}}</td>
        <td class="actions">
          <a [routerLink]="['update', contract?.id]" type="button" class="icon">
            <i class="uil uil-pen"></i>
          </a>
          <a
            type="button"
            class="icon"
            (click)="deleteContractById(contract?.id)"
          >
            <i class="uil uil-trash-alt"></i>
          </a>
        </td>
      </tr>
      <tr style="text-align: center" *ngIf="contracts.length == 0">
        <td colspan="7">Không tìm thấy dữ liệu</td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="pagination">
    <a *ngIf="page > 0 " (click)="previousPage()" class="text1">«</a>
    <!--    <a class="text"  (click)="accessPage(i)" *ngFor="let page of totalPage ; index as i">{{i+1}}</a>-->
    <a style="background-color: #EE4D2DFF" *ngIf="totalPage.length > 1">{{page+1}}</a>
    <a *ngIf="page < totalPage.length -1" (click)="nextPage()" class="text1">»</a>
  </div>

</div>
<script src="js/script.js"></script>




