<ng-container
  *ngIf="customersStates$ | async as state"
  [ngSwitch]="state.appState"
>
  <div class="container">
    <div class="top">
      <div
        class="memu-search"
        *ngIf="
          state.appState !== 'APP_ERROR' && state?.appState !== 'APP_LOADING'
        "
      >
        <div class="searchBox">
          <form [formGroup]="searchForm" (ngSubmit)="goToPage()">
            <i class="uil uil-search navToggle"></i>
            <input
              formControlName="valueReceived"
              type="text"
              placeholder="Tìm Kiếm..."
            />
          </form>

          <button class="button-search" (click)="toggleFormSearch($event)">
            <svg width="24" height="24" focusable="false">
              <path
                d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"
              ></path>
            </svg>
          </button>
        </div>

        <div class="form-search" [ngClass]="{ active: isSearchFormActive }">
          <form [formGroup]="searchForm" (ngSubmit)="goToPage()">
            <div class="row">
              <label for="dateOfBirth" class="col-md-3 col-form-label date-text"
              >Ngày sinh</label
              >
              <div class="col-md-6 form-group">
                <input
                  type="date"
                  id="dateOfBirth"
                  class="form-control"
                  formControlName="searchDateOfBirth"
                />
              </div>
            </div>

            <div class="wrapper-radio">
              <label for="" class="col-md-3">Giới tính</label>
              <div class="card-radio col-md-6">
                <input
                  class="input"
                  type="radio"
                  name="searchGender"
                  value="0"
                  formControlName="searchGender"
                />
                <span class="check"></span>
                <label>
                  <div class="title">Male</div>
                </label>
              </div>

              <div class="card-radio">
                <input
                  class="input"
                  type="radio"
                  name="searchGender"
                  value="1"
                  formControlName="searchGender"
                />
                <span class="check"></span>
                <label>
                  <div class="title">Female</div>
                </label>
              </div>

              <div class="card-radio">
                <input
                  class="input"
                  type="radio"
                  name="searchGender"
                  value="2"
                  formControlName="searchGender"
                />
                <span class="check"></span>
                <label>
                  <div class="title">Others</div>
                </label>
              </div>
            </div>

            <div class="form-submit">
              <button type="reset" class="btn-reset">Đặt lại</button>
              <button type="submit" class="btn-search">Tìm kiếm</button>
            </div>
          </form>
        </div>
      </div>

      <div
        class="top-child"
        *ngIf="
          state.appState !== 'APP_ERROR' && state?.appState !== 'APP_LOADING'
        "
      >
        <div class="icon-tooltip">
          <div class="tooltip">Lịch sử</div>
          <button
            class="btn color btn-lg"
            data-bs-toggle="modal"
            data-bs-target="#largeModal"
            (click)="openRestoreModal()"
          >
            <i class="uil uil-clipboard-notes"></i>
          </button>
        </div>

        <div class="icon-tooltip" >
          <div class="tooltip">Thêm mới</div>
          <button class="btn color btn-lg" routerLink="/admin/customer/create">
            <i class="uil uil-plus"></i>
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngSwitchCase="'APP_ERROR'">
      <app-error-page></app-error-page>
    </ng-container>

    <ng-container *ngSwitchCase="'APP_LOADING'">
      <div id="preloader">
        <div class="sk-three-bounce">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'APP_LOADED'">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <colgroup>
            <col style="width: 5%" />
            <col style="width: 25%" />
            <col style="width: 5%" />
            <col style="width: 10%" />
            <col style="width: 15%" />
            <col style="width: 15%" />
            <col style="width: 10%" />
            <col style="width: 15%" />
          </colgroup>
          <thead>
          <tr id="color-bg">
            <th>Mã khách hàng</th>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>SĐT</th>
            <th>Số CMND</th>
            <th>Số lượng HĐ</th>
            <th class="text-center">Chức năng</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="state?.appData?.data?.page?.content === null">
            <tr>
              <td
                style="color: #ee4d2d; font-weight: 600; font-size: 18px"
                class="text-center"
                colspan="8"
              >
                Bảng hiện đang rỗng
              </td>
            </tr>
          </ng-container>
          <tr *ngFor="let customer of state?.appData?.data?.page?.content">
            <td class="content-text-tr">{{ customer?.customerCode }}</td>
            <td class="content-text-tr">{{ customer?.name }}</td>
            <td class="content-text-tr">
              <ng-container [ngSwitch]="customer?.gender">
                <span *ngSwitchCase="0">Nam</span>
                <span *ngSwitchCase="1">Nữ</span>
                <span *ngSwitchDefault>LGBT</span>
              </ng-container>
            </td>
            <td class="content-text-tr">
              {{ customer?.dateOfBirth | date }}
            </td>
            <td class="content-text-tr">{{ customer?.phone }}</td>
            <td class="content-text-tr">{{ customer?.identityCard }}</td>
            <td class="text-center content-text-tr">
              {{ customer?.contractQuantity }}
            </td>
            <td class="actions">
              <a
                type="button"
                class="icon"
                [routerLink]="['/admin/customer/detail', customer?.id]"
              >
                <i class="uil uil-eye"></i>
              </a>
              <a type="button" class="icon" >
                <i class="uil uil-pen"></i>
              </a>
              <a
                type="button"
                class="icon"
                (click)="deleteCustomerById(customer?.id)"
              >
                <i class="uil uil-trash-alt"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- <div class="pagination" *ngIf="hasSearchResults">
        <a
          class="text1"
          (click)="goToNextOrPreviousPage('backward')"
          [ngClass]="0 == (currentPage$ | async) ? 'disabled' : ''"
          >«
        </a>
        <a
          class="text"
          [ngClass]="i == (currentPage$ | async) ? 'active' : ''"
          (click)="goToPage(i)"
          *ngFor="
            let pageNumber of [].constructor(
              state?.appData?.data?.page?.totalPages
            );
            index as i
          "
        >
          {{ i + 1 }}
        </a>
        <a
          class="text1"
          (click)="goToNextOrPreviousPage('forward')"
          [ngClass]="
            state?.appData?.data?.page?.totalPages - 1 == (currentPage$ | async)
              ? 'disabled'
              : ''
          "
          >»
        </a>
      </div> -->
      <div class="pagination" *ngIf="hasSearchResults">
        <a
          class="text1"
          (click)="goToNextOrPreviousPage('backward')"
          [ngClass]="0 == (currentPage$ | async) ? 'disabled' : ''"
        >«</a
        >
        <!-- Hiển thị trang đầu tiên -->
        <a
          class="text"
          [ngClass]="1 == (currentPage$ | async) ? 'active' : ''"
          (click)="goToPage(1 - 1)"
          *ngIf="
            shouldShowFirstPage(
              state.appData.data.page.totalPages,
              currentPage$ | async
            )
          "
        >
          1
        </a>
        <!-- Hiển thị "..." nếu có trang đầu tiên không hiển thị -->
        <span
          class="ellipsis"
          *ngIf="
            shouldShowFirstPage(
              state.appData.data.page.totalPages - 1,
              currentPage$ | async
            )
          "
        >
          <strong>...</strong>
        </span>
        <!-- Hiển thị các trang gần trang hiện tại -->
        <a
          class="text"
          [ngClass]="pageNumber - 1 == (currentPage$ | async) ? 'active' : ''"
          (click)="goToPage(pageNumber - 1)"
          *ngFor="
            let pageNumber of getVisiblePageNumbers(
              state.appData.data.page.totalPages,
              currentPage$ | async
            )
          "
        >
          {{ pageNumber }}
        </a>
        <!-- Hiển thị "..." nếu có trang cuối cùng không hiển thị -->
        <span
          class="ellipsis"
          *ngIf="
            shouldShowLastPage(
              state.appData.data.page.totalPages,
              currentPage$ | async
            )
          "
        >
          <strong>...</strong>
        </span>
        <!-- Hiển thị trang cuối cùng -->
        <a
          class="text"
          [ngClass]="
            state.appData.data.page.totalPages == (currentPage$ | async)
              ? 'active'
              : ''
          "
          (click)="goToPage(state.appData.data.page.totalPages - 1)"
          *ngIf="
            shouldShowLastPage(
              state.appData.data.page.totalPages,
              currentPage$ | async
            )
          "
        >
          {{ state.appData.data.page.totalPages }}
        </a>
        <a
          class="text1"
          (click)="goToNextOrPreviousPage('forward')"
          [ngClass]="
            state.appData.data.page.totalPages - 1 == (currentPage$ | async)
              ? 'disabled'
              : ''
          "
        >»</a
        >
      </div>
    </ng-container>
  </div>
</ng-container>

<div
  class="modal fade"
  id="largeModal"
  tabindex="-1"
  aria-labelledby="largeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="largeModalLabel">Lịch sử xóa</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ng-container
          *ngIf="customerRestoresStates$ | async as stateRestore"
          [ngSwitch]="stateRestore?.appState"
        >
          <div class="container-fluid">
            <div
              class="top"
              style="margin-top: 20px"
              *ngIf="stateRestore?.appData?.data?.page?.content?.length > 0"
            >
              <div class="memu-search">
                <div class="searchBox">
                  <form
                    #searchForm1="ngForm"
                    (ngSubmit)="
                      goToPageRestore(searchForm1?.value?.valueReceived)
                    "
                  >
                    <i class="uil uil-search navToggle"></i>
                    <input
                      name="valueReceived"
                      ngModel
                      type="text"
                      placeholder="Searching..."
                    />
                  </form>
                  <button class="button-search">
                    <svg width="24" height="24" focusable="false">
                      <path
                        d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <ng-container *ngSwitchCase="'APP_ERROR'">
              <span class="modal-empty">Trang hiện giờ đang trống!</span>
            </ng-container>

            <ng-container *ngSwitchCase="'APP_LOADING'">
              <div id="preloader">
                <div class="sk-three-bounce">
                  <div class="sk-child sk-bounce1"></div>
                  <div class="sk-child sk-bounce2"></div>
                  <div class="sk-child sk-bounce3"></div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'APP_LOADED'">
              <div *ngIf="stateRestore?.appData?.data?.page?.content === null">
                <span class="modal-empty">Trang hiện giờ đang trống!</span>
              </div>

              <div
                class="table-responsive"
                *ngIf="stateRestore?.appData?.data?.page?.content?.length > 0"
              >
                <table class="table table-striped table-hover">
                  <colgroup>
                    <col style="width: 25%" />
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                    <col style="width: 25%" />
                    <col style="width: 10%" />
                  </colgroup>
                  <thead>
                  <tr id="color-bg">
                    <th>Họ và tên</th>
                    <th>SĐT</th>
                    <th>Số CMND</th>
                    <th>Ngày xóa</th>
                    <th class="text-center">Khôi phục</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    *ngFor="
                        let customerRestore of stateRestore?.appData?.data?.page
                          ?.content
                      "
                  >
                    <td class="content-text-tr">
                      {{ customerRestore?.name }}
                    </td>
                    <td class="content-text-tr">
                      {{ customerRestore?.phoneNumber }}
                    </td>
                    <td class="content-text-tr">
                      {{ customerRestore?.identityCard }}
                    </td>
                    <td class="content-text-tr">
                      {{ customerRestore?.deleteTime | date : "medium" }}
                    </td>
                    <td class="actions">
                      <a
                        type="button"
                        class="icon center-icon"
                        (click)="restoreCustomerById(customerRestore?.id)"
                      >
                        <i class="uil uil-history"></i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div
                class="pagination"
                *ngIf="stateRestore?.appData?.data?.page?.content?.length > 0"
              >
                <a
                  class="text1"
                  (click)="goToNextOrPreviousPageRestore('backward', '')"
                  [ngClass]="
                    0 == (currentRestorePage$ | async) ? 'disabled' : ''
                  "
                >«
                </a>
                <a
                  class="text"
                  [ngClass]="i == (currentRestorePage$ | async) ? 'active' : ''"
                  (click)="goToPageRestore('', i)"
                  *ngFor="
                    let pageNumber of [].constructor(
                      stateRestore?.appData?.data.page?.totalPages
                    );
                    index as i
                  "
                >
                  {{ i + 1 }}
                </a>
                <a
                  class="text1"
                  (click)="goToNextOrPreviousPageRestore('forward', '')"
                  [ngClass]="
                    stateRestore?.appData?.data?.page?.totalPages - 1 ==
                    (currentRestorePage$ | async)
                      ? 'disabled'
                      : ''
                  "
                >»
                </a>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
