<div class="container" *ngIf="statuses">
  <div class="row justify-content-center mt-4">
    <h2 style="text-align: center; color: #EE4D2D; margin-top: 10px">SỬA THÔNG TIN HỢP ĐỒNG</h2>
    <div class="col-lg-12">
      <form [formGroup]="editContractForm" (ngSubmit)="editContract()" CLASS="row">
        <div class="form-group col-md-6" style="margin-top: 10px">
          <label for="contractCode">Mã hợp đồng</label><span>*</span>
          <input formControlName="contractCode" type="text" class="form-control" id="contractCode" disabled>
        </div>
        <div class="form-group col-md-6" style="margin-top: 10px">
          <label for="customerName">Tên khách hàng</label><span>*</span>
          <input [value]="contract.customer.name" type="text" class="form-control" id="customerName">
        </div>
        <div class="form-group col-md-6" style="margin-top: 10px">
          <label for="productName">Tên đồ</label><span>*</span>
          <input [value]="contract.product.name" type="text" class="form-control" id="productName">
        </div>
        <div class="form-group col-md-6">
          <label>Loại đồ</label><span>*</span><br>
          <input disabled [value]="contract.product.category.nameCategory" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="beginDate">Ngày làm hợp đồng</label><span>*</span><br>
          <input formControlName="beginDate" type="date" class="form-control" id="beginDate">
        </div>
        <div class="form-group col-md-6">
          <label for="endDate">Ngày kết thúc</label><span>*</span>
          <input formControlName="endDate" type="date" class="form-control" id="endDate">
        </div>
        <div class="form-group col-md-6">
          <label for="status">Trạng thái hợp đồng</label><span>*</span><br>
          <select class="form-select" formControlName="status" id="status" [compareWith]="compareFn">
            <option *ngFor="let status of statuses" [ngValue]="status">{{status.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <button routerLink="/contract" class="btn btn-secondary">Hủy</button>
          <button type="submit" class="btn btn-primary mx-2">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>
