@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --nc-primary: #ee4d2d;
  --nc-primary-bg: #fef6f5;
  --nc-primary-gradient: linear-gradient(#ee4d2d, #ff7337);
  --nc-text-primary: rgba(0, 0, 0, 0.87);
  --button: #7eb7aa;

  --box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

* {
  font-family: "Poppins", sans-serif;
}

#color-bg {
  background: linear-gradient(#ee4d2d, #ff7337);
  color: #fff;
}

.table-responsive {
  max-height: 400px;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.175);
}

.table > :not(caption) > * > * {
  padding: 0.5rem 1.5rem;
}

thead th,
tbody td {
  max-width: 200px; /* thiết lập chiều rộng tối đa cho mỗi cột */
  white-space: nowrap !important; /* không cho phép chữ bị xuống dòng */
  overflow: hidden; /* ẩn phần vượt quá chiều rộng tối đa */
  text-overflow: ellipsis; /* hiển thị dấu ba chấm (...) cho phần vượt quá chiều rộng tối đa */
}

.actions {
  display: flex;
  gap: 3px;
}

.actions i {
  font-size: 26px;
}

.actions a:focus {
  outline: none;
}

.actions a:nth-child(1) i {
  color: #5bc0de;
}

.actions a:nth-child(2) i {
  color: #f0ad4e;
}

.actions a:nth-child(3) i {
  color: var(--nc-primary);
}

.actions .icon {
  padding: 6px 12px;
  cursor: pointer;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0 18px 0;
}

.color {
  background: var(--nc-primary-gradient);
  color: #fff;
  outline: none;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.color:hover {
  color: #fff;
  opacity: 0.8;
}

.search-input {
  width: 250px;
  border: solid 1px #000000;
}

.color:focus,
.color:active {
  color: #fff;
  outline: none !important;
  border: none;
  background: var(--nc-primary-gradient);
  box-shadow: none;
}
/*---------------------------  Search box --------------------------- */
.memu-search {
  position: relative;
}

.memu-search .searchBox {
  height: 46px;
  width: 550px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  padding: 0 6px;
  white-space: nowrap;
  background: #edf2fc;
  border: 1px solid transparent;
  overflow: hidden;
  --webkit-user-select: none;
}

.searchBox input {
  width: 100%;
  height: 100%;
  margin-right: 80px;
  font-size: 16px;
  border: none;
  background: transparent;
  color: var(--nc-text-primary);
}

.searchBox input:focus,
.searchBox input:focus-within {
  border: none;
  outline: none;
}

.searchBox i {
  font-size: 22px;
  padding: 0 12px;
}

.searchBox .button-search {
  padding: 10px 10px;
  cursor: pointer;
  outline: none;
  line-height: 0;
  border: none;
  border-radius: 50%;
  background: none;
}


.searchBox .button-search:hover {
  background: var(--nc-primary-bg);
  opacity: 0.5;
}

.form-search {
  display: none;
  width: 96%;
  position: absolute;
  top: 52px;
  left: 10px;
  padding: 15px;
  margin-bottom: 12px;
  color: #000;
  border-radius: 8px;
  border: solid 1px transparent;
  box-shadow: var(
    --box-shadow,
    0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15)
  );
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  transition: opacity 0.5s linear;
  z-index: 99;
}

.form-search.active {
  display: block;
}

.form-search form {
  padding: 15px;
}

.form-search .row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-search label {
  padding-top: 7px;
}

.form-search .form-submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-submit .btn-search {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: #ee4d2d;
  color: #fff;
  white-space: nowrap;
}

.form-submit .btn-reset {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  color: #ee4d2d;
  white-space: nowrap;
  background: transparent;
  margin-right: 10px;
}

.form-submit .btn-submit {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  color: #fff;
  white-space: nowrap;
  background: #ee4d2d;
}

.form-submit .btn-submit:hover {
  opacity: .85;
}

.form-submit .btn-search:hover {
  border: none;
  color: #fff;
  opacity: 0.85;
}

.form-search .check-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px;
  margin: 0 10px;
  font-size: 14px;
}

.form-check-label {
  margin-left: 5px;
}

.form-search .check-form input[type="checkbox"] {
  width: 14px; /* thay đổi kích thước của checkbox */
  height: 14px;
}

.form-search input {
  padding: 8px;
  border-radius: 5px;
  outline: none;
}

.form-search .form-select {
  width: 250px;
  padding-right: 50px; /* khoảng cách cho dấu mũi tên */
  border-radius: 5px;
  padding: 8px;
  box-shadow: none;
}

select.form-select option {
  width: 100%; /* thiết lập chiều rộng cho các tùy chọn */
  box-sizing: border-box; /* đảm bảo chiều rộng bao gồm cả padding và border */
  padding: 0.5rem; /* thêm padding cho các tùy chọn */
}

/* Thay đổi màu nền của các option */
.select-form .form-select option {
  background-color: white;
}

/* Thay đổi border của select option */
.select-form .form-select:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: none;
}

.form-search .date-text {
  white-space: nowrap;
}

.form-search .form-group input[type="date"] {
  width: 250px;
  border-radius: 5px;
}

.form-search .form-group input[type="date"]:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: none;
}

.top-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-child .search {
  outline: none;
}

.top-child .search__wrapper {
  position: relative;
  top: 7px;
}

.search__field {
  width: 40px;
  height: 40px;
  color: #000;
  font-size: 16px;
  padding: 0.35em 50px 0.35em 0;
  border: 1px solid transparent;
  border-radius: 0 !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.search__field::placeholder {
  font-size: 16px;
}
.search__field:focus {
  border-bottom-color: #ccc;
  width: 250px;
  color: #2b2b2b;
  cursor: default;
}
.search__field:focus ~ .search__icon {
  background-color: transparent !important;
  cursor: pointer;
  pointer-events: auto;
}

.search__icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e9f1f4;
  width: 40px;
  height: 40px;
  font-size: 1.35em;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}
.search__field::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-webkit-input-placeholder[style*="hidden"] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-moz-placeholder[style*="hidden"] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field::-moz-placeholder[style*="hidden"] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-ms-input-placeholder[style*="hidden"] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}

/*---------------------------  pagination --------------------------- */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.pagination .text {
  font-size: 16px;
}

.pagination .text1 {
  font-size: 26px;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}
/* thiết lập style cho class active */
.pagination a.active {
  background: var(--nc-primary-gradient);
  color: #fff;
}
/* thêm màu nền khi người dùng hover vào class không active */
.pagination a:hover:not(.active) {
  background-color: var(--nc-primary-bg);
  opacity: 0.8;
}

@media (max-width: 980px) {
  .memu-search .searchBox {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .memu-search .searchBox {
    width: 300px;
  }
}

/* CSS cho switch alert */
.swal2-actions {
  display: flex;
  gap: 5px;
  border-radius: 6px;
}

/*Phân trang*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.pagination .text {
  font-size: 16px;
}
.pagination .text1 {
  font-size: 16px;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}
.pagination a:hover {
  background: #EE4D2D !important;
  color: #fff;
  opacity: .8;
}
.pagination a.disabled {
  pointer-events: none;
  color: var(--nc-primary), white, 50;
}
/* thiết lập style cho class active */
.pagination a.active {
  background: var(--nc-primary-gradient);
  color: #fff;
}
/* thêm màu nền khi người dùng hover vào class không active */
.pagination a:hover:not(.active) {
  background-color: var(--nc-primary-bg);
  opacity: 0.8;
}
