<body class="" style="">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 space">
      <div class="card border-0 shadow-lg">
        <div class="card-body">
            <div class="form-group row">
              <label class="text-muted col-sm-4 col-form-label">
                <b>Khách Hàng:</b>
              </label>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-6">
                    <!-- MODAL CHỌN KHÁCH HÀNG -->
                    <div class="col-6">
                      <button style="background:linear-gradient(#EE4D2D,#FF7337);color:white " type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#khachHang">
                        <i class="bi bi-person-fill me-1"></i>Chọn Khách Hàng
                      </button>
                    </div>
                    <div class="modal fade" id="khachHang" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Chọn khách hàng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">

                            <!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Tìm Kiếm">-->
                            <!--                <button style="background:linear-gradient(#EE4D2D,#FF7337);color:white " class="btn btn-outline-primary float-end" type="submit"><i class="bi bi-search"></i> Tìm Kiếm</button>-->
                            <div class="memu-search">
                              <div class="searchBox">
                                <i class="uil uil-search navToggle"></i>
                                <input type="text" placeholder="Searching...">
                                <button class="button-search">
                                  <svg width="24" height="24" focusable="false">
                                    <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"></path>
                                  </svg>
                                </button>
                              </div>

                              <div class="form-search">
                                <div class="row">
                                  <label class="col-md-4 col-form-label">Tên Khách Hàng :</label>
                                  <div class="col-md-6 form-group">
                                    <input type="text" class="form-control">
                                  </div>
                                </div>

                                <div class="form-submit">
                                  <button type="submit" class="btn-reset">Đặt lại</button>
                                  <button type="submit" class="btn-search">Tìm kiếm</button>
                                </div>
                              </div>
                            </div>
                            <table class="responstable">
                              <thead>
                              <tr>
                                <th class="col-md-3" style="background: linear-gradient(#EE4D2D,#FF7337)" data-th="Driver details"><span>Mã khách hàng</span></th>
                                <th class="col-md-3" style="background: linear-gradient(#EE4D2D,#FF7337)">Tên khách hàng</th>
                                <th class="col-md-3" style="background: linear-gradient(#EE4D2D,#FF7337)">CCCD</th>
                                <th class="col-md-3" style="background: linear-gradient(#EE4D2D,#FF7337)"></th>
                              </tr>
                              </thead>

                              <tbody>
                              <tr *ngFor="let customer of customers, index as i">
                                <td>{{customer.id}}</td>
                                <td>{{customer.name}}</td>
                                <td>{{customer.identityCard}}</td>
                                <td><button style="background:linear-gradient(#EE4D2D,#FF7337);margin-left: 100px ;color: white" type="button" class="btn btn-dark d-flex align-item-"  (click)="selectItem(customer)">Chọn</button></td>
                              </tr>
                              </tbody>
                            </table>
                            <div class="pagination">
                              <a href="#" class="text1">«</a>
                              <a href="#" class="text">1</a>
                              <a class="active" href="#">2</a>
                              <a href="#" class="text">3</a>
                              <a href="#" class="text">4</a>
                              <a href="#" class="text">5</a>
                              <a href="#" class="text">6</a>
                              <a href="#" class="text1">»</a>
                            </div>
                          </div>
                          <div class="modal-footer">
                          </div>
                        </div>
                      </div>
                    </div>
                    <button>{{selectedName}}</button>

                  </div>
                  <div class="col-6">
                    <button style="background : linear-gradient(#EE4D2D,#FF7337);color:white " class="btn btn-outline-primary" type="button">
                      <i class="bi bi-person-plus-fill me-1"></i> Thêm Khách Hàng
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="text-muted col-sm-4 col-form-label">

              </label>
              <div class="col-sm-8">
                <span class="item-seleted customer-selected"></span>
              </div>
            </div>
            <div class="form-group row">
              <label  class="text-muted col-sm-4 col-form-label"><b>Đồ Thanh Lý:</b></label>
              <!--MODAL ĐỒ Thanh Lý-->
              <div class="form-group row">
                <div class="col-sm-8 col-xs-12">
                  <button style="background : linear-gradient(#EE4D2D,#FF7337) ;color:white " type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#doThanhLy"><i class="bi bi-cart3 me-1"></i>Chọn Đồ Thanh Lý</button>
                </div>
              </div>
              <div class="modal fade" id="doThanhLy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Chọn Đồ Thanh Toán</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="memu-search" >
                      <div class="searchBox">
                        <i class="uil uil-search navToggle"></i>
                        <input type="text" placeholder="Searching...">
                        <button  >
                          <svg width="24" height="24" focusable="false" >
                            <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"></path>
                          </svg>
                        </button>
                      </div>

                      <div class="form-search" >

                        <div class="row">
                          <label for="ten-do" class="col-md-2 col-form-label date-text">Tên Đồ:</label>
                          <div class="col-md-6 form-group">
                            <input type="text" id="ten-do" class="form-control" aria-describedby="ten-do-help" aria-label="Tên Đồ">
                          </div>
                        </div>

                        <div class="row">
                          <label for="khach-hang" class="col-md-2 col-form-label date-text">Loại Đồ:</label>
                          <div class="col-md-6 form-group">
                            <div class="input-group">
                              <select id="khach-hang" class="form-select" aria-label="Khách Hàng">
                                &lt; option selected=""&gt;Chọn
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <label for="gia" class="col-md-2 col-form-label date-text">Giá:</label>
                          <div class="col-md-6 form-group">
                            <input type="text" id="gia" class="form-control" aria-describedby="gia-help">
                          </div>
                        </div>

                        <div class="form-submit">
                          <button type="submit" class="btn-reset">Đặt lại</button>
                          <button type="submit" class="btn-search">Tìm kiếm</button>


                        </div>
                      </div>
                      <div>
                      </div>
                      <div class="container">
                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th style="background: linear-gradient(#EE4D2D,#FF7337);color: white">Tên Đồ</th>
                            <th style="background: linear-gradient(#EE4D2D,#FF7337);color: white">Loại Đồ</th>
                            <th style="background: linear-gradient(#EE4D2D,#FF7337);color: white">Giá</th>
                            <th style="background: linear-gradient(#EE4D2D,#FF7337);color: white">Chọn</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr class="bg-white" *ngFor="let product of products">
                            <td>{{product.name}}</td>
                            <td>{{product.category.nameCategory}}</td>
                            <td>{{product.price}}</td>
                            <td>
                              <button (click)="toggleName(product.name)" [ngClass]="{'active': selectedNames.includes(product.name)}" style="background: linear-gradient(#EE4D2D, #FF7337); color: white" class="btn btn-outline-primary">
                                <i class="bi bi-plus"></i>
                              </button>
                              <a class="checkbox-icon-nam" *ngIf="selectedNames.includes(product.name)">&#10003;</a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Hiển thị các tên đã chọn -->
              <tr>
                <td colspan="4">
                  <div class="selectedNames">
                    <button class="checkbox-icon" *ngFor="let selectedName of selectedNames">&#10003;{{selectedName}}</button>
                  </div>
                </td>
              </tr>
              <!-- Hiển thị tổng tiền -->
              <tr>
                <td colspan="4" disabled>
                    Tổng tiền:  <button>{{ calculateTotal() }}  VND</button>
                </td>
              </tr>

            </div>

            <div class="form-group row">
              <label class="text-muted col-sm-4 col-form-label">

              </label>
              <div class="col-sm-8">
                <span class="item-seleted item-buy"></span>
              </div>
            </div>
            <div class="form-group row">
              <label for="ngay-thanh-ly" class="text-muted col-sm-4 col-form-label"><b>Ngày Thanh Lý:</b></label>
              <div class="col-sm-8">
                <input type="date" id="ngay-thanh-ly" class="form-control" aria-describedby="ngay-thanh-ly-help" placeholder="Ngày Thanh Lý" aria-label="Ngày Thanh Lý">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 text-end">
                <button style="background-color: #7EB7AA;color: white" type="button" class="btn btn-outline-primary me-2">Huỷ</button>
                <button style="background : linear-gradient(#EE4D2D,#FF7337) ;color:white " type="button" class="btn btn-outline-primary">Thêm Hợp Đồng</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>








