<div class="container">
  <div class="finance d-flex align-center justify-content-center" style="margin-top: 100px;">
    <table class="table-sm table table responsive" style="width: 1000px;height: 200px;">


      <tr>
        <th>Số tiền trong két :</th>
        <td>{{finance.totalFinace|currency:'VND'}}<strong>(VNĐ)</strong></td>
      </tr>
      <tr>
        <th>Vốn hiện tại :</th>
        <td>{{finance.currentFinace|currency:'VND'}} <strong>(VNĐ)</strong></td>

      </tr>
      <tr>
        <th>Vốn đầu tư :</th>
        <td>{{finance.investment|currency:'VND'}} <strong>(VNĐ)</strong></td>

      </tr>
      <tr>
        <th>Lãi dự kiến :</th>
        <td>{{finance.interest|currency:'VND'}}<strong>(VNĐ)</strong></td>
      </tr>
    </table>
  </div>
</div>
