<div class="container">
  <!--=============== NAVIGATION MENU ===============-->
  <div class="menu">
    <a href="#welcome-section"><i class="menu-icon uil uil-home"></i></a>
    <a href="#about"><i class="menu-icon uil uil-user"></i></a>
    <a href="#projects"
    ><i class="menu-icon uil uil-expand-arrows-alt"></i
    ></a>
    <a href="#experience"
    ><i class="menu-icon uil uil-briefcase-alt"></i
    ></a>
    <a href="#contact"><i class="menu-icon uil uil-envelope"></i></a>
  </div>
  <!--=============== MAIN "WINDOW" ===============-->
  <div class="portfolio">
    <!--=============== HEADER SECTION ===============-->
    <section class="header">
      <img
        class="header-img"
       src="{{contract.customer.avatar}}"
        alt="Ảnh đại diện"
      />
      <h1 >{{contract.customer.name}}</h1>
      <div class="header-extra">
        <h2>{{contract.product.name}}</h2>
      </div>
      <p>
          <span *ngFor="let img of imgs">
            <img style="border-radius: 5px;margin-left: 25px; margin-top: 10px" height="100px" width="100px"
                 src="{{img.img}}" *ngIf="img.product.id==contract.product.id">
          </span>
      </p>
      <div class="flex-cta">
      <span class="cta">
        <a routerLink="/product">Kho đồ</a>
        </span>
      <span class="cta">
        <a [routerLink]="['/',contract_id]">Thanh lý</a>
        </span>
      </div>
    </section>
  </div>
  <!--=============== CONTENT SECTION ===============-->
  <div class="content">
    <!--=============== HOME ===============-->
    <section class="content-card home" id="welcome-section">
      <h1>Thông tin chi tiết</h1>
      <div class="box-flex">
        <div class="dbox">
          <div class="icon">
            <i class="uil uil-italic" title="Mã hợp đồng"></i>
          </div>
          <div class="text">
            <p>
              {{contract.contractCode}}
            </p>
          </div>
        </div>
        <div class="dbox">
          <div class="icon">
            <i class="uil uil-archive" title="Loại hàng"></i>
          </div>
          <div class="text">
            <p>{{contract.product.category.nameCategory}}

            </p>
          </div>
        </div>
      </div>
      <div class="box-flex">
        <div class="dbox">
          <div class="icon">
            <i class="uil uil-clipboard-notes" title="Trạng thái hợp đồng"></i>
          </div>
          <div class="text">
            <p>
              {{contract.status.name}}
            </p>
          </div>
        </div>
        <div class="dbox">
          <div class="icon">
            <i class="uil uil-usd-circle" title="Giá mua"></i>
          </div>
          <div class="text">
            <p>
              {{contract.product.price|currency:'VND'}}

            </p>
          </div>
        </div>
      </div>
      <div class="box-flex-2">
        <div class="dbox-2">
          <div class="icon">
            <i class="uil uil-user-circle" title="Nhân viên phụ trách"></i>
          </div>
          <div class="text">
            <p>{{contract.employee.name}}</p>
          </div>
        </div>
      </div>
      <h1>Liên hệ</h1>
      <div class="box-flex">
        <div class="dbox">
          <div class="icon">
            <i class="uil uil-phone" title="số điện thoại"></i>
          </div>
          <div class="text">
            <p>
              {{contract.customer.phone}}
            </p>
          </div>
        </div>
        <div class="dbox">
          <div class="icon">
            <i class="uil uil-envelope" title="email"></i>
          </div>
          <div class="text">
            <p>{{contract.customer.email}}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

